<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of the webod/cmp
  ~ (c) 2016 WebOD Ltd <hello@webod.co.uk>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
>
    <testsuite name="Customer Messaging Plaform (CMP) Test Suite">
        <directory>./tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>